.game-moves {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
.game-moves > .item {
  background-color: var(--color-zero);
  border-radius: 15px;
  width: 130px;
  padding: 5px 0;
  margin-bottom: 20px;
}

.game-moves > .item.-last {
  margin-bottom: 0;
}

.game-moves > .item.-draw {
    background-color: #eff25a;
    text-transform: uppercase;
}
