.menu {
  display: block;
  text-indent: -9999px;
}

.menu::after,
.menu::before,
.menu > .center {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--color-fouth);
  display: block;
  border-radius: 2px;
}
.menu::before,
.menu > .center {
  margin-bottom: 5px;
}
