.header-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: var(--color-fourth)
}

.header-game > .about-link{
  margin-left: auto;
  margin-right: 10px;
}

.header-game > .menu-game{
  width: 25px;
}