.header-external {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: var(--color-fourth)
}

.header-external > .about-link{
  margin-left: auto;
  margin-right: 10px;
}

.header-external > .menu{
  width: 25px;
}