#checkBox {
  display: none;
}

#checkBox:checked + .check {
  background-color: var(--color-fourth);
}

.check {
  vertical-align: bottom;
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-fourth);
  border-radius: var(--spacing-radius);
  margin-right: 6px;
  cursor: pointer;
}
