.about {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--color-zero);
  background-color: var(--color-negative);
}

.about > .header {
  width: 90vw;
  margin: 0 auto;
  color: var(--color-zero);
  margin-bottom: 115px;
}

.about .menu::after,
.about .menu::before,
.about .menu > .center {
  background-color: var(--color-zero);
}

.about > .profile {
  width: 129px;
  margin-bottom: 20px;
}

.about > .title {
    margin-bottom: 15px;
}

.about > .text{
    line-height: 1.5em;
}

.social{
  margin-top: 30px;
}

.social > .item{
  display: inline;
  margin-right: 15px;
}

.social > .item.-last{
  margin: 0;
}