.app {
  text-align: center;
}

.app > .header {
  width: 90vw;
  margin: 0 auto 85px;
}

.app > .card {
  box-sizing: border-box;
  display: inline-block;/*trocar margin: auto;*/
  width: 90vw;
  height: 90vw;

  margin-bottom: 40px;

  max-width: 500px;
  max-height: 500px;
}
